#header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.header {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  height: 94px;
  z-index: 999;
}

@media (max-width: 991px) {
  .header {
    height: 54px;
    padding: 0 20px;
    position: relative; /* add this */
  }
}

.brand_logo svg .logo_symbol {
  fill: #c51f2c;
}

.brand_logo svg path {
  fill: var(--white);
}

@media (max-width: 991px) {
  .brand_logo svg {
    width: 106.24px;
    height: 21.13px;
  }
}
.navigations ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 62px 0px;
}

@media (max-width: 991px) {
  .navigations ul {
    display: none;
  }
}

.navigations ul .nav-link {
  color: var(--nav-link);
  position: relative;
  flex-wrap: nowrap;
   text-wrap: nowrap;

  @media (max-width: 991px) {
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0px;
  }
}

.navigations ul .nav-link.active {
  color: var(--heading-color); /* highlight active link */
}

.navigations ul .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* stays underlined */
  height: 2px;
  background-color: var(--heading-color); /* active underline color */
}

.navigations ul .nav-link:hover {
  color: var(--heading-color);
}

.navigations ul .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--nav-link);
  transition: width 0.3s ease;
}
.navigations ul .nav-link:hover::after {
  width: 100%;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a svg {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-icons a:hover svg {
  transform: scale(1.2);
  fill: var(--primary-color);
}

.social-icons a svg path {
  /* theme-based styling*/
  fill: var(--icon-color);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 17px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 3px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1100; /* ensure always visible */
}

/* Show mobile toggler */
@media (max-width: 991px) {
  .menu-toggle {
    display: flex;
  }

  .navigations {
    position: fixed;
    top: 0;
    right: -100%;
    height: fit-content;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease-in-out;
  }

  .navigations.active {
    right: 0;
  }

  .navigations ul {
    flex-direction: column;
    padding: 12px 19px 12px 19px;
    display: flex !important;
   
  }

  .mobile-theme-toggler-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 17px;
  }
  .mobile-theme-toggler-wrapper div {
    margin-bottom: -7px;
  }
  .mobile-theme-toggler-wrapper a svg path {
    fill: var(--icon-color);
  }
  .social-icons {
    display: none;
  }
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* header */
