/* ================================
   SPACING UTILITIES
   ================================ */

/* Section padding (top + bottom) */


.wrapper-section {
  padding: 40px 130px;
}

/* Section gap (vertical spacing between sections inside a container) */
.section-gap {
  display: flex;
  flex-direction: column;
  /* gap: 100px;  */
}


.theme-bg-section {
  background-color: var(--theme-bg);
}
/* -------- Responsive Adjustments -------- */

@media (min-width: 1441px) and (max-width: 2560px) {
  .wrapper-section {
    padding:60px 250px;
  }

}

/* Large screens (1200px - 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
 .wrapper-section {
    padding: 40px 80px;
  }

}

/* Medium screens (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
 .wrapper-section {
    padding: 40px 60px;
  }

}

/* Tablets (768px - 991px) */
@media (min-width: 769px) and (max-width: 991px) {
  .wrapper-section {
    padding: 60px 40px;
  }

}

/* Mobile devices (up to 767px) */
@media (max-width: 768px) {
.wrapper-section{
    padding: 48px 24px;
  }

}

/* <576px */
